allow init configfs:file { getattr open unlink write };
allow init configfs:lnk_file create;

# Allow init to mount adbd binary
allow init rootfs:file mounton;
