allow recovery apk_private_data_file:dir { getattr open read };
allow recovery app_data_file:dir { getattr open read };
allow recovery app_data_file:file getattr;
allow recovery bluetooth_data_file:file getattr;
allow recovery bluetooth_logs_data_file:dir { getattr open read };
allow recovery bootchart_data_file:dir { getattr open read };
allow recovery sysfs_vibrator:file { open write };
allow recovery system_data_file:dir { open read };
allow recovery system_data_file:file open;
allow recovery system_radio_prop:property_service set;
allow recovery app_data_file:dir open;
allow recovery app_data_file:dir search;
allow recovery app_data_file:lnk_file getattr;
allow recovery ashmem_device:chr_file execute;
allow recovery bluetooth_data_file:dir { getattr open read search };
allow recovery bluetooth_logs_data_file:dir search;
allow recovery boottime_prop:file { getattr open };
allow recovery cache_backup_file:dir { getattr open read search };
allow recovery cache_file:dir mounton;
allow recovery cache_private_backup_file:dir { getattr open read search };
allow recovery cache_private_backup_file:file getattr;
allow recovery gatekeeper_data_file:dir getattr;
allow recovery hwservice_contexts_file:file getattr;
allow recovery install_data_file:file getattr;
allow recovery keychain_data_file:dir { getattr open read };
allow recovery keychain_data_file:file getattr;
allow recovery media_rw_data_file:dir { getattr open read search };
allow recovery media_rw_data_file:file getattr;
allow recovery mtp_device:chr_file { open read write };
allow recovery net_data_file:dir { getattr open read };
allow recovery net_data_file:file getattr;
allow recovery nonplat_service_contexts_file:file getattr;
allow recovery overlay_prop:file { getattr open };
allow recovery persistent_properties_ready_prop:file { getattr open };
allow recovery radio_data_file:dir { getattr open read };
allow recovery radio_data_file:file getattr;
allow recovery rootfs:dir { add_name create remove_name write };
allow recovery rootfs:fifo_file unlink;
allow recovery rootfs:file { create write };
allow recovery rootfs:lnk_file create;
allow recovery safemode_prop:file { getattr open };
allow recovery seapp_contexts_file:file getattr;
allow recovery self:process execmem;
allow recovery selinuxfs:file write;
allow recovery sepolicy_file:file getattr;
allow recovery service_contexts_file:file getattr;
allow recovery shared_relro_file:dir getattr;
allow recovery sysfs_android_usb:dir search;
allow recovery textclassifier_data_file:dir { getattr open read };
allow recovery textclassifier_data_file:file getattr;
allow recovery tmpfs:fifo_file { create read };
allow recovery unencrypted_data_file:dir { getattr search };
allow recovery unencrypted_data_file:file { getattr open read };
allow recovery vndservice_contexts_file:file getattr;
allow recovery vpn_data_file:dir { getattr open read };
allow recovery wifi_prop:file { getattr open };
