service oeminfo_nvm /sbin/oeminfo_nvm_server
    critical
    ioprio rt 4
    seclabel u:r:oeminfo_nvm:s0	
on init
    write /sys/module/hisi_nve/parameters/nve /dev/block/bootdevice/by-name/nvme
    mount /tmp /tmp tmpfs
    # change nve device visit permission
    wait /dev/nve0
    chmod 0640 /dev/nve0
    write /proc/sys/vm/max_map_count 1000000
on fs
    wait /dev/block/bootdevice/by-name/oeminfo
    start oeminfo_nvm
